/*轮播图样式*/
.home_banner{
	margin-bottom: 50px;
}
.home_banner img {
      width: 100%;
      height: 100%;
}
.home_banner .carousel-control{
	background-image: none;
}
.home_banner .carousel-indicators{
	bottom: 0px;
}
.home_banner .carousel-indicators .active{
	background: #2dae36;
}
.home_banner .carousel .carousel-control .glyphicon{
	display:block;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(50%,50%);
}
/*内容区域样式*/

/*第一部分：专业特色部分开始*/
.characteristic{
	margin-bottom: 50px;
}
.characteristic .characteristic_icon{
	margin-bottom: 16px;
}
.characteristic .characteristic_icon img{
	width: 30%;
}
.characteristic .title{
	font-size: 24px;
	color:#2dae36;
}
.characteristic .sm_title{
	font-size: 14px;
	color:#666;
}
/*专业特色部分结束*/
/*第二部分：产品展示部分开始*/
.product{
	width: 100%;
	margin-bottom: 50px;
}
.product .product_title{
	height: 42px;
	margin-bottom: 10px;
	border-bottom: 1px solid #2dae36;
}
.product .product_title .show{
	width: 120px;
	color:white;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	background: #2dae36;
	border-radius:16px 0 16px 0;
}
.product_list .row>div{
	position: relative;
	padding:15px;
	box-sizing: border-box;
}
.product_list .row img{
	width: 100%;
}