*{margin: 0;padding: 0;}
.top-div{
    background-color: #19bebe;
    text-align: center;
    height: 59.5px;
    padding-top: 16.5px;

}
.nav-div{
    background-color: #f0f0f0;
    text-align: center;

}
.nav-div-box{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}
.nav-div-box  p{
    float: left;
    line-height: 40px;


}
.nav-div  .nav-div-p{
    font-size: 12.5px !important;
 
}
.nav-div  .nav-per-p{
    float: right;
    font-size: 12.5px; 
    margin-right: 0;
    
}
.nav-choose{
    width: 36px;
    margin: 0 29px;
    
}
.nav-choose-box{
    margin: 0 auto;
    width: 380px;
}
.nav-div  img{
    position: relative;
    top: 5px;
}
.nav-div-box  p:hover{
    color:#fea700;

}
iframe{
    width: 810px;
    height: 1024px;
    float: right;

}
.body-div{
    width: 1000px;
    height: 1024px;
    margin: 25px auto 0 auto;
}
.iframe-box{
    float: right;
    width: 810px;
    height: auto;
    background-color: #f0f0f0;

}
.biaoqian-box{
    width: 180px;
    float: left;
    height: auto;
    background-color: #f0f0f0;
    font-size: 14px;

}
.biaoqianxiang-a{
    display: block;
    text-decoration: none;
    color: #333333;
    
  
}
.biaoqianxiang-btn{
    width: 180px;
    height: 74px !important ;
    text-align: center;
    box-sizing: border-box;
    border:0;
    border-left: 2px solid  #f0f0f0;
    background-color:  #f0f0f0;
}
.biaoqianxiang-btn:hover{
    border-left: 2px solid #1ac0c0;
    
}
.user-home-btn:hover .user-home-a{
    color: #1ac0c0;
}
.biaoqian-btn{
    width: 180px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border:0;
    border-left: 2px solid  #f0f0f0;
    background-color:  #f0f0f0;
    float: left;

}
.mytest-a{
    display: block;
    text-decoration: none;
    color: #333333;
    float: left;
}

.class-click-a{
    color:#1ac0c0;
    font-size: 14px;
}
.biaoqian-btn>span{
    font-size: 14px;
    float: left;
}
.father-font-box{
   position: relative;
   left: 30px;
}
.biaoqian-font-2{
    position: relative;
    left:-50px;
    font-size: 14px;
    width: min-content;
}
button:focus{
    outline: none;
    }
.xiangxifenlei-btn{
    width: 180px;
    display: block;
    border: none;
    border-left: 2px solid #f0f0f0;
    background-color: #f0f0f0;
    height: 34px;
    
}
.xiangxifenlei-btn:hover{
    border-left: 2px solid #1ac0c0;
}
.xiangxifenlei-btn>a{
    float: left;
    position: relative;
    left: 50px;
    color: #5b5b5b;
    text-decoration: none;
   
}
.xiangxidianji{
    border-left: 2px solid #1ac0c0  !important;
    color: #1ac0c0 !important ;
}
.jiajianbianhuan{
    position: relative;
    top: -30px;
    left: 31px;
    width: 15px;
    height: 15px;
    float: left;
    background-color: #f0f0f0;
    
}
.shouye-btn{
    width: 180px;
    height: 74px;
    text-align: center;
    box-sizing: border-box;
    border:0;
    border-left: 2px solid  #f0f0f0;
    background-color:  #f0f0f0;

}
.xiangxidianji a{
    color: #1ac0c0 !important ;
}
















.div-weixinma-boxin{
    margin-top: 30px;
    width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    }
    .img-weixinma{
    width: 83px;
    height: 83px;
    border: 1px solid #d7d7d7;
    float: left;
    margin-left: 15px;
    }
    .p-fankui{
    font-size: 20px;
    color: #18bebe;
    margin-left: 118px;
    margin-bottom: 15px;
    }
    .p-fankuiall{
    font-size: 15px;
    margin-left: 118px;
    }
    .div-dibu-box{
    height: 220px;
    background-color: #515151;
    margin-top: 28px;
    overflow: hidden;
    color: #e3e3e3;
    
    }
    .div-dibu-boxin{
    height: 175px;
    width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid  #6f7273;
    position: relative;
    }
    .div-dibu-boxin-left{
    width: 350px;
    float: left;
    
    
    
    
    }
    .p-wei{
    font-size: 12px;
    font-weight: 800;
    margin-top: 7px;
    margin-left: 15px;
    
    }
    .p-jia{
    font-size: 12px;
    margin-left: 15px;
    line-height: 12px;
    margin-top: 12px;
    }
    .p-he{
    font-size: 12px;
    margin-left: 15px;
    line-height: 12px;
    margin-top: 8px;
    }
    .imglogo2{
    margin: 15px;
    margin-left: 15px;
    line-height: 12px;
    
    }
    .div-lxfs-boxx{
    width: 160px;
    height: 70px;
    float: left;
    position: absolute;
    
    top: 70px;
    right: 350px;
    font-size: 10px;
    
    }
    .p-guanyu{
    float: left;
    position: absolute;
    left: 0;
    }
    .p-lianx{
    float: left;
    position: absolute;
    left: 0;
    top: 30px;
    }
    .p-jiaru{
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    
    }
    .p-banquan{
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    }
    .p-yonghu{
    float: left;
    position: absolute;
    right: 0;
    top: 30px;
    }
    .p-mianze{
    float: left;
    position: absolute;
    right: 0;
    bottom: 0;
    }
    .div-lianxfangshi{
    position: absolute;
    top: 60px;
    right: 127px;
    width: 94px;
    height: 85px;
    
    font-size: 10px;
    
    
    }
    
    .ico-lxfs{
    font-size: 20px;
    float: left;
    line-height: 30px;
    }
    .p-shangcheng{
    line-height: 30px;
    margin-left: 33px;
    }
    .div-xiezi{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    overflow: hidden;
    }
    .p-gongsi{
    font-size: 10px;
    line-height: 44px;
    margin-left: 15px;
    float: left;
    
    }
    .p-beian{
    line-height: 44px;
    float:right;
    font-size: 10px;
    
    }
    .fengexian{
        height: 50px;
    }