body{
  background:transparent;
}
.container{
  padding: 50px;
 
  border-radius: 5px;
  font-family: sans-serif;
}

p.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #777;
}

.wStyle1{
    border: 3px dashed rgb(30, 35, 87);
}
.fStyle1{
  background-color: rgb(30, 35, 87);
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .innerStyle2 {
    background: none;
  }
}
#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8{
  font-size: 40px;
}
.myphoto>img{
  width: 380px;
  float: left;
  position:absolute;
  right:0px;
  top: 100px;
}